In [1]:
# Question 1  How to import pandas and check the version?

import pandas as pd
print(pd.__version__)

1.0.5

In [3]:
# Question 2 How to create a series from a numpy array?
import pandas as pd
import numpy as np
data = np.array(['a','b','c','d'])
s = pd.Series(data)
print(s)

0    a
1    b
2    c
3    d
dtype: object

In [4]:
# importing numpy and pandas with alias name
import numpy as np
import pandas as pd


# using numpy array value
data = np.array(['a', 'b', 'c', 'd', 'e']) 
  
# creating series from array with user index value
series = pd.Series(data, index = [1, 2, 3, 4, 5]) 
print(series)

1    a
2    b
3    c
4    d
5    e
dtype: object

In [7]:
# Questions 3 How to convert the index of a series into a column of a dataframe?
import numpy as np 
import pandas as pd 
  
# creating a numpy array 
numpyArray = np.array([[15, 22, 43],  
                       [33, 24, 56]]) 
  
# generating the Pandas dataframe 
# from the Numpy array and specifying 
# name of index and columns 
panda_df = pd.DataFrame(data = numpyArray,  
                        index = ["Number set 1", "Number Set 2"],  
                        columns = ["Column No 1", 
                                   "Column No 2", "Colum No 3"]) 
  
# printing the dataframe 
print(panda_df)

              Column No 1  Column No 2  Colum No 3
Number set 1           15           22          43
Number Set 2           33           24          56

In [8]:
# Questions 4 Write the code to list all the datasets available in seaborn library.
# Load the 'mpg' dataset
# Note: mpg dataset will be read from seaborn module in the manner sir has already shown(provided in thematerials folder
import seaborn as sns
mpg=sns.load_dataset('mpg')
print(mpg)

      mpg  cylinders  displacement  horsepower  weight  acceleration  \
0    18.0          8         307.0       130.0    3504          12.0
1    15.0          8         350.0       165.0    3693          11.5
2    18.0          8         318.0       150.0    3436          11.0
3    16.0          8         304.0       150.0    3433          12.0
4    17.0          8         302.0       140.0    3449          10.5
..    ...        ...           ...         ...     ...           ...
393  27.0          4         140.0        86.0    2790          15.6
394  44.0          4          97.0        52.0    2130          24.6
395  32.0          4         135.0        84.0    2295          11.6
396  28.0          4         120.0        79.0    2625          18.6
397  31.0          4         119.0        82.0    2720          19.4

     model_year  origin                       name
0            70     usa  chevrolet chevelle malibu
1            70     usa          buick skylark 320
2            70     usa         plymouth satellite
3            70     usa              amc rebel sst
4            70     usa                ford torino
..          ...     ...                        ...
393          82     usa            ford mustang gl
394          82  europe                  vw pickup
395          82     usa              dodge rampage
396          82     usa                ford ranger
397          82     usa                 chevy s-10

[398 rows x 9 columns]

In [9]:
# Questions 5 Which country origin cars are a part of this dataset?
import seaborn as sns
import pandas as pd
mpg=sns.load_dataset('mpg')
df = pd.DataFrame(mpg)
df.origin.unique()

array(['usa', 'japan', 'europe'], dtype=object)

In [16]:
# Questions 6 Extract the part of the dataframe which contains cars belonging to 'usa'
import seaborn as sns
import pandas as pd
mpg=sns.load_dataset('mpg')
df = pd.DataFrame(mpg)
df[df['origin'].str.contains("usa")]

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
0,18.0,8,307.0,130.0,3504,12.0,70,usa,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693,11.5,70,usa,buick skylark 320
2,18.0,8,318.0,150.0,3436,11.0,70,usa,plymouth satellite
3,16.0,8,304.0,150.0,3433,12.0,70,usa,amc rebel sst
4,17.0,8,302.0,140.0,3449,10.5,70,usa,ford torino
...,...,...,...,...,...,...,...,...,...
392,27.0,4,151.0,90.0,2950,17.3,82,usa,chevrolet camaro
393,27.0,4,140.0,86.0,2790,15.6,82,usa,ford mustang gl
395,32.0,4,135.0,84.0,2295,11.6,82,usa,dodge rampage
396,28.0,4,120.0,79.0,2625,18.6,82,usa,ford ranger
397,31.0,4,119.0,82.0,2720,19.4,82,usa,chevy s-10